body {
	background-color: #101010;
}

/* NAV */

.navbar {
	margin: 0;
	padding: 15px 25px;
	border-bottom: 4px solid rgba(149, 255, 222, 1);
	width: 100vw;
}

.logo {
	position: absolute;
	top: 0;
	left: -138px;
	z-index: 10;
	margin-left: 50%;
	margin-right: 50%;
}

.navbar-right {
	width: 300px;
}

/* JUMBOTRON */

.jumbotron {
	padding: 0;	
	margin-bottom: 0px;
	border-bottom: 4px solid rgba(149, 255, 222, 1);
}

.jumboTextLeft {
	color: black;
	background-color: rgba(149, 255, 222, .8);
	width: 55%;
	padding: 20px 40px;
	margin-left: 20px;
	margin-top: 200px;
}

.jumboTextRight {
	color: black;
	background-color: rgba(149, 255, 222, .8);
	width: 55%;
	padding: 20px 40px;
	margin-right: 20px;
	margin-top: 200px;
	float: right;
}

.jumboText h1 {
	font-size: 3rem;
}

.jumbotron .btn {
	margin-left: 50%;
	margin-right: 50%;
	background-color: rgba(190, 144, 212, 1);
	border: 1px solid rgba(130, 28, 178, 1);
}

.jumbotronLeft {
	width: 50vw;
	height: 95vh;
	margin: 0;
	background-image: url('../img/jumbo_snow_Fotor.jpg');
	background-size: cover;
	position: absolute;
	left: 0;
	display: inline;
}
.jumbotronRight {
	width: 50vw;
	height: 95vh;
	margin: 0;
	background-image: url('../img/jumbo_town_Fotor.jpg');
	background-size: cover;
	position: relative;
	float: right;
	right: 0;
	display: inline-block;
}

/*  **** CONTENT****  */

.cardText h4 {
	font-size: 3rem;
	font-weight: bold;
	position: relative;
	color: #e74c3c;
}

.cardText p {
	color: #ecf0f1;
}

.cardText li {
	color: #ecf0f1;
}

.card {
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin: 35px auto;
	min-height: 375px;
}
/*
.card:last-child {
}*/

/* *** SNOW SNAPSHOT *** */

.snowSnap {
	display: table;
	background-color: rgba(255, 255, 255, .25);
	overflow: hidden;
	padding: 15px 25px;
	/*	display: inline-flexbox;
	justify-content: space-around;
*/
}

.snowSnap ul {
	padding-left: 0px;
	margin: 15px 25px;
}

.snowSnap li {
	display: table-cell;
/*	display: inline;
	flex: 1 1 auto;
	list-style-type: none;*/
}

.snowSnap .snowSnapName {
	font-size: 2rem;
	font-weight: bold;
	color: #1abc9c;
	padding-right: 15px;
}

.snowSnapInches {
	padding-right: 15px;
	font-size: 1.5rem;
}

.snowSnapDeg {
	padding-right: 15px;
	font-size: 1.5rem;
}

.snowSnapIcon img {
	width: 50px;
}

.mtnLogo {
	width: 100px;
	margin-right: 15px;
}

.mtnName {
	font-weight: bold;
}

/* *** APRES SNAPSHOT *** */

.apresSnap {
	display: table;
	background-color: rgba(255, 255, 255, .25);
	padding: 15px 25px;
	overflow: hidden;
/*	display: inline-flexbox;
	justify-content: space-around;*/
}

.apresSnap ul {
	padding-left: 0px;
/*	margin: 15px 25px;
*/}

.apresSnap li {
	display: table-cell;
	list-style-type: none;
	/*	display: inline;
	flex: 1 1 auto;*/
}

.apresSnap .apresSnapName {
	font-size: 2rem;
	font-weight: bold;
	color: #1abc9c;
	padding-right: 15px;
}

.apresSnapCity {
	padding-right: 15px;
	font-size: 1.5rem;
}

.apresSnapType {
	padding-right: 15px;
	font-size: 1.5rem;
}

.apresSnapPromo {
	padding-right: 15px;
	font-size: 1.5rem;
}

/*  **** PAGE: SNOW REPORT**** */

.snowTableHead img {
	object-fit: cover;
	width: 100vw;
	height: 300px;
}

.snowTable a {
	font-size: 1.75rem;
	font-weight: bold;
	color: #1abc9c;
}

.snowTable tbody {
	color: #ecf0f1;
	font-size: 1.5rem;
}

.snowTable {
	margin-top: 25px;
}

.modalBtn {
	background-color: #BF55EC;
    border-color: #3FC380;
    margin-top: 50%;
}

.modalBtn:hover {
	background-color: #2ECC71;
}

.code {
	font-size: 1.75rem;
	font-weight: bold;
	color: #1abc9c;
}

.modalInfo li {
	list-style-type: none;
}

.modalWeatherIcon {
	width: 50px;
}

.couponForm {
	text-align: center;
}

.couponForm button {
	background-color: white;
	color: #f0ad4e;
	border: 1px solid #f0ad4e;
	border-radius: 5px;
}

.couponForm button:hover {
	background-color: #f0ad4e;
	color: white;
}

.couponSuccess {
	text-align: center;
	font-size: 1.5rem;
}

/*  **** PAGE: APRES **** */

.apresTableHead img {
	object-fit: cover;
	width: 100vw;
	height: 300px;
}

.apresTable a {
	font-size: 1.75rem;
	font-weight: bold;
	color: #1abc9c;
}

.apresTable tbody {
	color: #ecf0f1;
	font-size: 1.5rem;
}

.apresTable {
	margin-top: 30px;
}

.glyphicon-ok-circle {
	font-size: 24px;
	color: #BF55EC;
	vertical-align: middle;
    display: table-cell
}

.calendar {
	margin-top: 30px;
	background-color: #ecf0f1;
	text-align: center;
	padding: 30px;
}

.calendar h3 {
	margin: 0px;
}

.calendarDay {
	font-size: 4rem;
}

.calendar .glyphicon {
	font-size: 4rem;
}

/*.calendarList dl {
	color: #ecf0f1;
		  display: table;

}

.calendarList dd {
	list-style-type: none;

}*/


/* *** TRAFFIC SNAP *** */

/*.trafficSnap {
	padding: 25px;
}

.trafficSnap input {
	width: 200px;
	margin-right: 15px;
}*/

#map {
	object-fit: cover;
	width: 600px;
    height: 350px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 0%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

      #right-panel {
        height: 100%;
		text-align: center;
		width: 600px;
        overflow: auto;
      }

      #map {
        margin-right: 400px;
      }

      #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }

      @media print {
        #map {
          height: 500px;
          margin: 0;
        }

        #right-panel {
          float: none;
          width: auto;
        }


/*  FOOTER  */

.footer .navbar-inverse {
	border-top: 4px solid rgba(149, 255, 222, 1);
	padding: 30px;
}	

.footer p {
	font-size: 1rem;
	text-align: center;
}