.warning {
	position: absolute;	
	width: 100%;
	text-align: center;
	background-color: rgba(249, 105, 14, .85);
	color: #fff;
	margin: 0;
	padding: 10px;
	z-index: 20;
}

.warning p {
	color: #000;
}

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: #101010;
}

.content {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;  
    -webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
}

/* NAV */

.navbar {
	margin: 0;
	padding: 15px 25px;
	border-bottom: 4px solid rgba(149, 255, 222, 1);
	width: 100vw;
}

.navbar a {
	font-size: 1.5rem;
}

.logo {
	position: absolute;
	top: 0;
	left: -138px;
	z-index: 10;
	margin-left: 50%;
	margin-right: 50%;
}

.navbar-right {
	width: 300px;
}

/* JUMBOTRON */

.jumboTextLeft {
	color: black;
	background-color: rgba(149, 255, 222, .8);
	width: 55%;
	padding: 20px 40px;
	margin-left: 20px;
	margin-top: 200px;
	font-family: 'Russo One', sans-serif;
}

.jumboTextRight {
	color: black;
	background-color: rgba(149, 255, 222, .8);
	width: 55%;
	padding: 20px 40px;
	margin-right: 20px;
	margin-top: 200px;
	float: right;
	font-family: 'Russo One', sans-serif;
}

.jumboText h1 {
	font-size: 3rem;
}

.jumbotron .btn {
	margin-left: 50%;
	margin-right: 50%;
	background-color: rgba(190, 144, 212, 1);
	border: 1px solid rgba(130, 28, 178, 1);
}

.jumbotronLeft {
/*	width: 50%;
*/	height: 95vh;
	margin: 0;
	background-image: url('../img/jumbo_snow_Fotor.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	left: 0;
	/*display: inline-block;*/
	border-bottom: 4px solid rgba(149, 255, 222, 1);
}
.jumbotronRight {
/*	width: 50%;
*/	height: 95vh;
	margin: 0;
	background-image: url('../img/jumbo_town_Fotor.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	float: right;
	right: 0;
	/*display: inline-block;*/
	border-bottom: 4px solid rgba(149, 255, 222, 1);
}


/*  **** CONTENT****  */

.cardText h4 {
	font-size: 3rem;
	font-weight: bold;
	position: relative;
	color: #e74c3c;
}

.cardText p {
	color: #ecf0f1;
}

.cardText li {
	color: #ecf0f1;
}

.card {
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin: 35px auto;
	min-height: 375px;
}

/* *** SNOW SNAPSHOT *** */

.snowSnap {
	background-color: rgba(255, 255, 255, .25);
	overflow: hidden;
	padding: 15px 25px;
}

.snowSnap ul {
	padding-left: 0px;
	margin: 15px 25px;
}

.snowSnap li {
	display: table-cell;
}

.snowSnap .snowSnapName {
	font-size: 2rem;
	font-weight: bold;
	color: #1abc9c;
	padding-right: 15px;
}

.snowSnapInches {
	padding-right: 15px;
	font-size: 1.5rem;
}

.snowSnapDeg {
	padding-right: 15px;
	font-size: 1.5rem;
}

.snowSnapIcon img {
	width: 50px;
}

.mtnLogo {
	width: 100px;
	margin-right: 15px;
}

.mtnName {
	font-weight: bold;
}

.fullReportBtn {
	background-color: #BF55EC;
    border-color: #3FC380;
    float: right;
}

.fullReportBtn:hover {
	background-color: #3FC380;
	border-color: #BF55EC,
}

/* **** TRAFFIC SNAPSOT **** */

.trafficSnap h4 {
	padding: 15px 25px;
}

.trafficSnap p {
	padding-left: 25px;
}

.trafficSnap {
	padding: 1px 1px;
  height: auto;
}

/* *** APRES SNAPSHOT *** */

.apresSnap {
	background-color: rgba(255, 255, 255, .25);
	padding: 15px 25px;
	overflow: hidden;
}

.apresSnapText ul {
	padding-left: 0px;
}

.apresSnapText li {
	display: inline;
	list-style-type: none;
}

.apresSnap .apresSnapName {
	font-size: 2rem;
	font-weight: bold;
	color: #1abc9c;
	padding-right: 15px;
}

.apresSnapCity {
	padding-right: 15px;
	font-size: 1.5rem;
}

.apresSnapType {
	padding-right: 15px;
	font-size: 1.5rem;
}

.apresSnapPromo {
	padding-right: 15px;
	font-size: 1.5rem;
}


/*  **** PAGE: SNOW REPORT**** */

.snowTableHead img {
	object-fit: cover;
	width: 100vw;
	height: 300px;
}

.snowTable a {
	font-size: 2rem;
	font-weight: bold;
	color: #1abc9c;
}

.snowTable tbody {
	color: #ecf0f1;
	font-size: 1.5rem;
}

.snowTable {
	margin-top: 25px;
}

.modalBtn {
	background-color: #BF55EC;
    border-color: #3FC380;
    margin-top: 50%;
}

.modalBtn:hover {
	background-color: #3FC380;
	border-color: #BF55EC
}

.code {
	padding-top: 20px;
	font-size: 1.75rem;
	font-weight: bold;
	color: #1abc9c;
}

.modalInfo li {
	list-style-type: none;
}

.modalWeatherIcon {
	width: 50px;
}

.modalName {
	font-weight: bold;
	font-size: 1.75rem;
}

.couponForm {
	text-align: center;
}

.couponForm button {
	background-color: white;
	color: #f0ad4e;
	border: 1px solid #f0ad4e;
	border-radius: 5px;
}

.couponForm button:hover {
	background-color: #f0ad4e;
	color: white;
}

.couponSuccess {
	text-align: center;
	font-size: 1.5rem;
}

/*  **** PAGE: APRES **** */

.date-select {
	display: flex;
	align-items: center;
	justify-content: center;
}

.apresTableHead img {
	object-fit: cover;
	width: 100vw;
	height: 300px;
}

.apresTable a {
	font-size: 2rem;
	font-weight: bold;
	color: #1abc9c;
}

.apresTable tr {
	height: 50px;
}

.apresTable tbody {
	color: #ecf0f1;
	font-size: 1.5rem;
	/*background-color: rgba(255, 255, 255, .25)*/
}

.todayBtn {
	background-color: #BF55EC;
    border-color: #3FC380;
    margin: 10px;
}

.todayBtn:hover {
	background-color: #3FC380;
	border-color: #BF55EC
}

.dayArrow {
	color: #BF55EC;
}

.dayArrow:hover {
	color: #3FC380;
}

.calendar {
	margin-top: 30px;
	color: #ecf0f1;
	text-align: center;
	padding: 30px;
}

.calendar h3 {
	margin: 0px;
	width: 80%;
}

.calendarDay {
	font-size: 4rem;
}

.calendar .glyphicon {
	font-size: 4rem;
}

/*  MODAL  */
.modal-header {
	background-color: #101010;
	color: #ecf0f1;
}

.xBtn {
	color: #ecf0f1;
}

/*  FOOTER  */

.footer {
	padding: 50px;
	border-top: 4px solid rgba(149, 255, 222, 1);
	text-align: center;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}	


/* MAPS */
.adp-summary {
	color: #1abc9c;
	font-size: 2.5rem;
	font-weight: 700;
}

.adp-substep, .adp-placemark, .adp-legal {
	display: none;
}


/*MEDIA*/

@media screen (min-width: 990px) {
	.jumbotronLeft {
		width: 50%;
		height: 95vh;
	}
	.jumbotronRight {
		width: 50%;
		height: 95vh;
	}
}

@media screen (max-width: 990px) {
	.jumbotronLeft {
		width: 100%;
		height: auto;
	}
	.jumbotronRight {
		width: 100%;
		height: auto;
	}

	.jumboTextRight {
		float: none;
	}
}

@media (max-width: 768px) {

	.logo {
		max-width: 65%;
		left: 0px;
		margin-left: 25px;
		margin-right: none;
	}
		.logo img {
		max-width: 30%;
		/*left: -200px;*/
	}
}