<!DOCTYPE html>
<html ng-app="apresApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="apresController">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="snow.html">Snow Report<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="apres.html">Deals & Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="searchBox">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Search Apres" ng-model="searchApresData">
            </div>      
          </div>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!--  LOGO  -->
	<div class="container-fluid">
		<div class="row logo">
			<div class="col-xs-12">
				<a href="index.html"><img class="pagination-center" src="img/apres-logo.png" alt="apres skihub logo"></a>
			</div>
		</div>
	</div>

<!-- CONTENT -->

  <div class="apresTableHead">
    <img src="img/apresRpt_jumbo.jpg">
  </div>

<div class="container calendar">
  <div class="row">
    <h3><span class="glyphicon glyphicon-chevron-left" ng-click="subtrDayClicker()"></span> <span class="calendarDay">{{today | date: 'mediumDate'}}</span> <span class="glyphicon glyphicon-chevron-right" ng-click="addDayClicker(); details(apresList)"></span></h3>
    <a class="btn btn-primary btn-lg" role="button" ng-click="todayClicker()">Back to Today</a>
  </div>
  <!-- <tr ng-repeat="apresDay in dayOfApres()">
          <th scope="row">{{apresDay.name}}</th>
          <td>{{apresDay.city}}</td>
          <td>{{apresDay.type}}</td>
          <td>{{apresDay.category}}</td>
          <td>{{apresDay.rating}}</td>
          <td>{{apresDay.promotion}}</td> -->
</div>

<div class="container apresTable">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <td>
            <a href="#" ng-click="sortApresType = 'name'; sortApresReverse = !sortApresReverse">
              Name
            <span ng-show="sortApresType == 'name' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'name' && sortApresReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortApresType = 'city'; sortApresReverse = !sortApresReverse">
              City
            <span ng-show="sortApresType == 'city' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'city' && sortApresReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortApresType = 'type'; sortApresReverse = !sortApresReverse">
              Type
            <span ng-show="sortApresType == 'type' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'type' && sortApresReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortApresType = 'category'; sortApresReverse = !sortApresReverse">
              Category
            <span ng-show="sortApresType == 'category' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'category' && sortApresReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortApresType = 'rating'; sortApresReverse = !sortApresReverse">
              Rating
            <span ng-show="sortApresType == 'rating' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'rating' && sortApresReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortApresType = 'promo'; sortApresReverse = !sortApresReverse">
              Promotion
            <span ng-show="sortApresType == 'promo' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'promo' && sortApresReverse" class="fa fa-caret-up"></span>
          </td>
          <!-- <td>
            <a href="#" ng-click="sortApresType = 'code'; sortApresReverse = !sortApresReverse">
              Code
            <span ng-show="sortApresType == 'code' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'code' && sortApresReverse" class="fa fa-caret-up"></span>
          </td> -->
          <!-- <td>
            <a href="#" ng-click="sortApresType = 'date'; sortApresReverse = !sortApresReverse">
              Date
            <span ng-show="sortApresType == 'date' && !sortApresReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortApresType == 'date' && sortApresReverse" class="fa fa-caret-up"></span>
          </td> -->
          <td><a>Pin It!</a></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="apresList in dayOfApres() | orderBy:sortApresType:sortApresReverse | filter:searchApresData">
          <th scope="row">{{apresList.name}}</th>
          <td>{{apresList.city}}</td>
          <td>{{apresList.type}}</td>
          <td>{{apresList.category}}</td>
          <td>{{apresList.rating}}</td>
          <td>{{apresList.promotion}}</td>
          <td><span class="glyphicon glyphicon-ok-circle"></span></td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>

<!-- FOOTER -->

<footer class="footer navbar-inverse">
    <div class="container-fluid footRow">
      <form class="form-inline signUp">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
              <button type="submit" class="btn btn-primary">Sign Up For Alerts</button>
        </div>
      </form>
        <div class="row copy">
          <p class=" text-muted">&copy 2016 | PhLucks</p>
        </div>
  </div>
</footer>

</body>

<!-- SCRIPTS -->

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script type="text/javascript" src="js/resortData.js"></script>

	<script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/mtnFactory.js"></script>
  <script type="text/javascript" src="js/eventPromoFactory.js"></script>
  <script type="text/javascript" src="js/dateFactory.js">

</script>
</html>