<!DOCTYPE html>
<html ng-app="apresApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body ng-controller="apresController">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="snow.html">Snow Report<span class="sr-only">(current)</span></a></li>
        <li><a href="apres.html">Deals & Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!--  LOGO  -->
	<div class="container-fluid">
		<div class="row logo">
			<div class="col-xs-12">
				<a href="#"><img class="pagination-center" src="img/apres-logo.png" alt="apres skihub logo"></a>
			</div>
		</div>
	</div>

	<!-- JUMBOTRON -->

    <div class="jumbotron container-fluid">
      <div class="jumbotronLeft col-sm-4">
        <h1 class="jumboTextLeft">Snow Report</h1>
          <a class="btn btn-primary btn-lg" href="snow.html" role="button">Full Report Here</a>
      </div>
      <div class="jumbotronRight col-sm-6">
        <h1 class="jumboTextRight">Apr&eacutes Report</h1>
          <a class="btn btn-primary btn-lg" href="apres.html" role="button">Find Your Apr&eacutes Here</a>
      </div>
    </div>

    <!-- CONTENT -->


<div class="card-deck-wrapper container-fluid cardText">
  <div class="card-deck">
    <div class="card col-lg-4">
<!--     <img class="card-img-top" src="http://placehold.it/300x180" alt="Card image cap">
 -->    <div class="card-block">
      <h4 class="card-title">Snow SnapShot</h4>
      <p class="card-text">For the last 48 hours, here are the mountains with most favorable conditions.</p>

      <div class="snowSnap">
        <ul class="snowSnapText" ng-repeat="mtn in mtnsArray | orderBy:'-lastSnow' | limitTo: 5 ">
          <li><img alt="ski resort logos" class="mtnLogo" ng-src="{{mtn.logoUrl}}"></li>
          <li class="snowSnapName">{{mtn.name}}</li>
          <li class="snowSnapInches">{{mtn.lastSnow}}"</li>
          <li class="snowSnapDeg">{{mtn.hi}}&deg</li>
         <li class="snowSnapIcon"><img alt="weather icon" ng-src="{{getIcon(mtn)}}"></li>
        </ul>
      </div>

      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<div class="card col-lg-4">
    <div class="card-block">
      <h4 class="title">Traffic SnapShot</h4>
      <p class="text">Check your travel time to your resort of choice.</p>
          <div class="trafficSnapInput" id="floating-panel" style="position: absolute; left: 0">
            <strong>Your Location:</strong>
            <select id="start">
              <option value="denver, co">Denver</option>
              <option value="boulder, co">Boulder</option>
              <option value="fort collins, co">Ft. Collins</option>
              <option value="colorado spring, co">Colorado Springs</option>
              <option value="golden, co">Golden</option>
            </select>
            <br>
            <strong>Your Destination:</strong>
            <select id="end">
              <option value="">Select</option>
              <option ng-repeat="mtn in mtnsArray" value="{{mtn.name}}, {{mtn.city}}, {{mtn.zip}}">{{mtn.name}}</option>
            </select>
          </div>
        <div id="map"></div>
        <div id="right-panel"></div>
      </div>
    </div>

  <div class="card col-lg-4">
<!--     <img class="card-img-top" src="http://placehold.it/300x180" alt="Card image cap">
 -->    <div class="card-block">
      <h4 class="card-title">Today's Apr&eacutes SnapShot</h4>
        <p class="card-text">The best way to end a say on the slopes?  How about some food, beverage, or live entertainment?</p>
      <div class="apresSnap">
        <ul class="apresSnapText" ng-repeat="apres in eventPromoArray | orderBy:'date' | limitTo: 10 ">
          <li class="apresSnapName">{{apres.name}}</li>
          <li class="apresSnapCity">{{apres.city}}</li>
          <li class="apresSnapType">{{apres.type}}</li>
          <li class="apresSnapPromo">{{apres.promotion}}</li>
        </ul>
      </div>

      <p class="card-text"><small class="text-muted">Last updated 5 hours ago</small></p>
    </div>
  </div>
</div>
</div>

<!-- TRAFFIC  -->
<div class="card-deck-wrapper container-fluid cardText">
  <div class="card-deck">
    
   </div>
</div>
<!--       <form class="trafficSnap">
        <input type="address" placeholder="Enter Your Starting Point" ng-model="addy">
        {{addy}}
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Your Mountain Destination
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="dropList" ng-repeat="mtn in mtnsArray"><a data-target="#" on-change="calcRoute()" ng-click="selectMtnDirx($index)">{{mtn.name}}</a></li>
          </ul>
        </div>
      </form> -->

<!-- FOOTER -->

<footer class="footer navbar-inverse">
      <div class="container-fluid">
        <p class="copy text-muted">&copy 2016 | PhLucks</p>
      </div>
</footer>



</body>

<!-- SCRIPTS -->

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script type="text/javascript" src="js/resortData.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/mtnFactory.js"></script>
  <script type="text/javascript" src="js/eventPromoFactory.js"></script>
  <script type="text/javascript" src="js/maps.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsDk-2yOtTK8BZZ9E8VB1N4XAwllaCuf8
 Done&signed_in=true&callback=initMap"
        async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js"
         async defer></script>
         <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</html>