<!DOCTYPE html>
<html ng-app="apresApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/gmaps.css">
</head>
<body ng-controller="apresController">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="snow.html">Snow Report<span class="sr-only">(current)</span></a></li>
        <li><a href="apres.html">Deals & Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
  <div class="modal-title">
    <div class="input-group searchBox" id="myModalLabel">
      <div class="input-group-addon" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Apres Ski Hub" ng-model="globalSearch">
    </div><!-- /input-group -->
  </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Apres Ski Hub Search Results</h4>
      </div>
      <div class="modal-body">
          <h3>Ski Resorts</h3>
          <p ng-repeat="mtn in mtnsArray | filter: globalSearch">{{ mtn.name }}</p>
        <h3>Apres Deals & Promotions</h3>
          <p ng-repeat="apres in eventPromoArray | filter: globalSearch">{{ apres.name }}</p>
      </div>
    </div>
  </div>
</div>
  <!--  LOGO  -->
	<div class="container-fluid">
		<div class="row logo">
			<div class="col-xs-12">
				<a href="#"><img class="pagination-center" src="img/apres-logo.png" alt="apres skihub logo"></a>
			</div>
		</div>
	</div>

	<!-- JUMBOTRON -->
<div class="content">
  <div class="col-xs-12 col-md-6 jumbotronLeft">
    <h1 class="jumboTextLeft">Snow Report</h1>
  </div>
  <div class="col-xs-12 col-md-6 jumbotronRight">
    <h1 class="jumboTextRight">Apr&eacutes Report</h1>
  </div>
 -->
    <!-- CONTENT -->


<div class="card-deck-wrapper container-fluid cardText">
  <div class="card-deck"> <!-- CARD DECK -->

    <div class="card col-lg-4 snowSnap">
      <div class="card-block">
        <h4 class="card-title">Snow SnapShot</h4>
          <p class="card-text">For the last 48 hours, here are the mountains with most favorable conditions.</p>
            <div>
              <ul class="snowSnapText" ng-repeat="mtn in mtnsArray | orderBy:'-lastSnow' | limitTo: 5 ">
                <li><img alt="ski resort logos" class="mtnLogo" ng-src="img/logos/{{mtn.logoUrl}}"></li>
                <li class="snowSnapName">{{mtn.name}}</li>
                <li class="snowSnapInches">{{mtn.lastSnow}}"</li>
                <li class="snowSnapDeg">{{mtn.hi}}&deg</li>
               <li class="snowSnapIcon"><img alt="weather icon" ng-src="{{getIcon(mtn)}}"></li>
              </ul>
            </div>
          <a class="btn btn-primary btn-lg fullReportBtn" href="snow.html" role="button">Full Report Here</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

<div class="trafficSnap card col-lg-4 embed-responsive embed-responsive-16by9">
    <div class="card-block">
      <h4 class="title">Traffic SnapShot</h4>
        <p class="text">Check your travel time to your resort of choice.</p>
          <div id="floating-panel">
            <strong>Your Location:</strong>
              <input type="text" id="start"></input>
                <br>
            <strong>Your Destination:</strong>
              <select id="end">
                <option value="">Select</option>
                <option ng-repeat="mtn in mtnsArray" value="{{mtn.name}}, {{mtn.state}}, {{mtn.zip}}">{{mtn.name}}</option>
              </select>
          </div>
      <div id="map"></div>
      <div id="right-panel"></div>
    </div>
</div>

  <div class="card col-lg-4 apresSnap">
     <div class="card-block">
      <h4 class="card-title">Apr&eacutes SnapShot for Today</h4>
        <p class="card-text">The best way to end a day on the slopes?  How about some food, beverage, or live entertainment?</p>
      <div class="apresSnapText">
        <ul class="" ng-repeat="apres in dayOfApres() | orderBy:'date' | limitTo: 10 ">
          <li class="apresSnapName">{{apres.name}}</li>
          <li class="apresSnapCity">{{apres.city}}</li>
          <li class="apresSnapType">{{apres.type}}</li>
          <li class="apresSnapPromo">{{apres.promotion}}</li>
        </ul>
      </div>
      <a class="btn btn-primary btn-lg fullReportBtn" href="apres.html" role="button">Find Your Apr&eacutes Here</a>
      <p class="card-text"><small class="text-muted">Last updated 5 hours ago</small></p>
    </div>
  </div>

</div> <!-- CARD-DECK -->
</div>
</div> <!-- CONTENT END -->
<!-- FOOTER -->

  <footer class="footer navbar-inverse">
          <div class="row copy col-xs-3">
            <p class="text-muted">&copy 2016 | PhLucks</p>
          </div>
          <div class="form-group col-xs-6">
            <form class="form-inline signUp">
              <label class="sr-only" for="exampleInputEmail">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
                  <button type="submit" class="btn btn-primary">Sign Up For Alerts</button>
            </form>
          </div>
          <div class="row col-xs-3">
            <p class="text-muted"> The information displayed on this site is for reference only and should not be considered accurate.</p>
          </div>
    </div>
  </footer>

</body>

<!-- SCRIPTS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/mtnFactory.js"></script>
  <script type="text/javascript" src="js/eventPromoFactory.js"></script>
  <script type="text/javascript" src="js/maps.js"></script>
  <script type="text/javascript" src="js/dateFactory.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsDk-2yOtTK8BZZ9E8VB1N4XAwllaCuf8
 Done&signed_in=true&callback=initMap"
        async defer></script>
<!--   <script src="https://maps.googleapis.com/maps/api/js"
         async defer></script> -->
         <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</html>