<!DOCTYPE html>
<html ng-app="apresApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="apresController">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="snow.html">Snow Report<span class="sr-only">(current)</span></a></li>
        <li><a href="apres.html">Deals & Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <form class="searchBox">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Resorts" ng-model="searchSnowData">
          </div>      
        </div>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!--  LOGO  -->
	<div class="container-fluid">
		<div class="row logo">
			<div class="col-xs-12">
				<a href="index.html"><img class="pagination-center" src="img/apres-logo.png" alt="apres skihub logo"></a>
			</div>
		</div>
	</div>

  <!-- CONTENT -->

  <div class="snowTableHead">
    <img src="img/snowRpt_jumbo.jpg">
  </div>
  <div class="container snowTable">
    <table class="table">
      <thead class="thead-default">
        <tr class="header">
          <td></td>
          <td>
            <a href="#" ng-click="sortSnowType = 'name'; sortSnowReverse = !sortSnowReverse">
              Name
            <span ng-show="sortSnowType == 'name' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'name' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'city'; sortSnowReverse = !sortSnowReverse">
              City
            <span ng-show="sortSnowType == 'city' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'city' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'lifts'; sortSnowReverse = !sortSnowReverse">
              Lifts
            <span ng-show="sortSnowType == 'lifts' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'lifts' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'trails'; sortSnowReverse = !sortSnowReverse">
              Trails
            <span ng-show="sortSnowType == 'trails' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'trails' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'lastSnow'; sortSnowReverse = !sortSnowReverse">
              Last Snow<span ng-show="sortSnowType == 'lastSnow' && !sortSnowReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortSnowType == 'lastSnow' && sortSnowReverse" class="fa fa-caret-up"></span>
            </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'todaysForecast'; sortSnowReverse = !sortSnowReverse">
              Today's Forecast
            <span ng-show="sortSnowType == 'todaysForecast' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'todaysforecast' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = '3day'; sortSnowReverse = !sortSnowReverse">
              3-Day Forecast
            <span ng-show="sortSnowType == '3day' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == '3day' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
        </tr>
      </thead>
      <tbody class="tableContent">
        <tr ng-repeat="mtnList in mtnsArray | orderBy:sortSnowType:sortSnowReverse | filter:searchSnowData">
          <th scope="row"><img alt="ski resort logos" class="mtnLogo" ng-src="{{mtnList.logoUrl}}"></th>
          <td>{{mtnList.name}}</td>
          <td>{{mtnList.city}}</td>
          <td>{{mtnList.lifts}}</td>
          <td>{{mtnList.trails}}</td>
          <td>{{mtnList.lastSnow}}"</td>
          <td>Hi/Low: {{mtnList.hi}}&deg/{{mtnList.low}}&deg<br>{{mtnList.description}}</br><br><img alt="weather Icon" class="mtnLogo" ng-src="{{mtnList.IconOne}}"></br></td>
          <td>{{mtnList.HiTwo}}&deg/{{mtnList.LowTwo}}&deg<br>{{mtnList.HiThree}}&deg/{{mtnList.LowThree}}&deg<br>{{mtnList.HiTwo}}&deg/{{mtnList.HiTwo}}&deg</td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>

  <!-- FOOTER -->

<footer class="footer navbar-inverse">
      <div class="container-fluid">
        <p class="copy text-muted">&copy 2016 | PhLucks</p>
      </div>
</footer>



</body>

<!-- SCRIPTS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/mtnFactory.js"></script>
  <script type="text/javascript" src="js/eventPromoFactory.js"></script>
</html>