<!DOCTYPE html>
<html ng-app="apresApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="apresController">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="snow.html">Snow Report<span class="sr-only">(current)</span></a></li>
        <li><a href="apres.html">Deals & Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <form class="searchBox">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Resorts" ng-model="searchSnowData">
          </div>      
        </div>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!--  LOGO  -->
	<div class="container-fluid">
		<div class="row logo">
			<div class="col-xs-12">
				<a href="index.html"><img class="pagination-center" src="img/apres-logo.png" alt="apres skihub logo"></a>
			</div>
		</div>
	</div>

  <!-- CONTENT -->

  <div class="snowTableHead">
    <img src="img/snowRpt_jumbo.jpg">
  </div>
  <div class="container snowTable">
    <table class="table">
      <thead class="thead-default">
        <tr class="header">
          <td></td>
          <td>
            <a href="#" ng-click="sortSnowType = 'name'; sortSnowReverse = !sortSnowReverse">
              Name
            <span ng-show="sortSnowType == 'name' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'name' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'city'; sortSnowReverse = !sortSnowReverse">
              City
            <span ng-show="sortSnowType == 'city' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'city' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'lifts'; sortSnowReverse = !sortSnowReverse">
              Lifts
            <span ng-show="sortSnowType == 'lifts' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'lifts' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'trails'; sortSnowReverse = !sortSnowReverse">
              Trails
            <span ng-show="sortSnowType == 'trails' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'trails' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'lastSnow'; sortSnowReverse = !sortSnowReverse">
              Last Snow<span ng-show="sortSnowType == 'lastSnow' && !sortSnowReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortSnowType == 'lastSnow' && sortSnowReverse" class="fa fa-caret-up"></span>
            </td>
          <td>
            <a href="#" ng-click="sortSnowType = 'todaysForecast'; sortSnowReverse = !sortSnowReverse">
              Today's Forecast
            <span ng-show="sortSnowType == 'todaysForecast' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == 'todaysforecast' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td>
          <!-- <td>
            <a href="#" ng-click="sortSnowType = '3day'; sortSnowReverse = !sortSnowReverse">
              3-Day Forecast
            <span ng-show="sortSnowType == '3day' && !sortSnowReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortSnowType == '3day' && sortSnowReverse" class="fa fa-caret-up"></span>
          </td> -->
        </tr>
      </thead>
      <tbody class="tableContent">
        <tr ng-repeat="mtn in mtnsArray | orderBy:sortSnowType:sortSnowReverse | filter:searchSnowData">
          <td><img alt="ski resort logos" class="mtnLogo" ng-src="{{mtn.logoUrl}}"></th>
          <th scope="row">{{mtn.name}}</td>
          <td>{{mtn.city}}</td>
          <td>{{mtn.lifts}}</td>
          <td>{{mtn.trails}}</td>
          <td>{{mtn.lastSnow}}"</td>
          <td>Hi: {{mtn.hi}}&deg<br>Low: {{mtn.low}}&deg<br>{{mtn.description}}</br><br><img alt="weather Icon" class="mtnLogo" ng-src="{{getIcon(mtn)}}"></br></td>
         <td><button type="button" class="btn btn-primary btn-lg modalBtn" data-toggle="modal" data-target="#myModal" ng-click="modalDetails(mtn)">+</button></td>
        </tr>
        <tr>
      </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="xBtn">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">More Information About {{selectedMtn.name}}</h4>
          </div>
      <div class="modal-body">
          <h4>3 Day Forecast</h4>
        <ul class="forecastList modalInfo">
          <li>{{selectedMtn.HiTwo}}&deg/{{selectedMtn.LowTwo}}&deg 
            <img class="modalWeatherIcon" ng-src="{{getForecastIconTwo(selectedMtn)}}"></li>
          <li>{{selectedMtn.HiThree}}&deg/{{selectedMtn.LowThree}}&deg  
            <img class="modalWeatherIcon" ng-src="{{getForecastIconThree(selectedMtn)}}"></li>
          <li>{{selectedMtn.HiOne}}&deg/{{selectedMtn.HiOne}}&deg  
            <img class="modalWeatherIcon" ng-src="{{getForecastIconOne(selectedMtn)}}"></li>
        </ul>
        <h3>Apres Deals & Promotions for {{ today | date: 'mediumDate'}}:</h3>
        <ul class="modalInfo" ng-repeat="apresList in snowApres()">
          <li class="modalName">{{apresList.name}}</li>
          <li>{{apresList.type}}</li>
          <li>{{apresList.promotion}}</li>
          <li class="code" ng-click="couponClick()">GET COUPON CODE <span class="fa fa-caret-down" ng-hide="couponInputAppear"></span><span class="fa fa-caret-up" ng-show="couponInputAppear"></span></li>
        </ul>
        <form class="couponForm" ng-show="couponInputAppear">
          <h4>We'll Text You a Code</h4>
          <input type="tel"></input><button class="couponBtn" type="button" value="submit" ng-click="submitClick()">Submit</button>
        </form>
          <p class="couponSuccess" ng-show="couponSuccess">Success! Have a fun time.</p>

      </div>
    </div>
  </div>
</div>
</div>
  <!-- FOOTER -->

<footer class="footer navbar-inverse">
    <div class="container-fluid footRow">
      <form class="form-inline signUp">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
              <button type="submit" class="btn btn-primary">Sign Up For Alerts</button>
        </div>
      </form>
        <div class="row copy">
          <p class=" text-muted">&copy 2016 | PhLucks</p>
        </div>
  </div>
</footer>

</body>


<!-- SCRIPTS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script type="text/javascript" src="js/resortData.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/mtnFactory.js"></script>
  <script type="text/javascript" src="js/eventPromoFactory.js"></script>
  <script type="text/javascript" src="js/dateFactory.js"></script>

</html>